BODY{
  background-image: url("https://i.pinimg.com/originals/34/b3/32/34b3326c751cf5dd619416bd3cdb553b.gif");
}@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  margin-top: 40px;
  animation: fadeIn 1s ease;
}

table {
  animation: slideIn 1s ease;
}